{% extends 'base.html.twig' %}

{% block title %}Création de l'acteur{% endblock %}
{% block pageTitle %}Création de l'acteur{% endblock %}

{% block body %}
<form action="" method="POST" enctype="multipart/form-data">
    <div class="grid grid-cols-2 gap-2"></br></br>
        <label for="nom">
            Nom :
        </label>
        <input class="border border-gray-700" type="text" name="nom" id="nom" /></br></br>
        
        <label for="prenom">
            Prenom :
         </label>
        <input class="border border-gray-700" type="text" name="prenom" id="prenom" /></br></br>

        <label for="birthday">
            Date de naissance :
        </label>
        <input class="border border-gray-700" type="date" step="1" min="1" name="birthday" id="birthday" /></br></br>

        <label for="deathday">
            Date de décès :
        </label>
        <input class="border border-gray-700" type="date" step="1" min="1" name="deathday" id="deathday" /></br></br>

        <label>
        Image :
        </label>
        <input type="file" name="image" id="image"/></br></br>

        <div class="col-span-2 flex justify-around">
            <button style="text-align: center;color: red;" type="reset">Annuler</button></br></br>
            <button style="text-align: center;color: blue;" type="submit">Enregistrer</button>
        </div>
    </div>

</form>
{% endblock %}
