{% extends 'base.html.twig' %}

{% block title %}Création de l'acteur{% endblock %}
{% block pageTitle %}Création de l'acteur{% endblock %}

{% block body %}
<form action="" method="POST">
    <div class="grid grid-cols-2 gap-2">
        <label for="nom">
            Nom :
        </label>
        <input class="border border-gray-700" type="text" name="nom" id="nom" />
        
        <label for="prenom">
            Prenom :
         </label>
        <input class="border border-gray-700" type="text" name="Prenom" id="Prenom" />

        <label for="birthday">
            Date de naissance :
        </label>
        <input class="border border-gray-700" type="date" step="1" min="1" name="birthday" id="birthday" />

        <label for="deathday">
            Date de décès :
        </label>
        <input class="border border-gray-700" type="date" step="1" min="1" name="deathday" id="deathday" />

        <div class="col-span-2 flex justify-around">
            <button class="border border-gray-700 rounded-md px-4 py-1" type="reset">Annuler</button>
            <button class="border border-gray-700 rounded-md px-4 py-1" type="submit">Enregistrer</button>
        </div>
    </div>

</form>
{% endblock %}
